@media (max-width:1024px)  {

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .main-container{
        max-width: 800px;
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .container-header{
        max-width: 300px;
        width: 100%;
        
        flex-direction: column;
        justify-content: center;
        height: auto;
        
        align-items: center;
    }
    .search_box{
        max-width: 200px;
    }

    .sidebar{
        display: none;
    }
 
    
    .search_wrap{
        margin-bottom: 20px;
        height: 56px;
    }
    .section-2{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
       
        
    }
    .section-2-media{
        width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 800px;
    margin-top: 300px;
    }
    .nav{
        
        max-width: 700px;
        /* margin-left: 350px; */
        
    }
    .section-1{
    
        
        /* grid-template-columns: repeat(2, 1fr); */
    }
    .section-div{
        grid-template-columns: repeat(2, 1fr);
}


    }
   
    
