/*
    font-family: 'AvenirBook';
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul,li{
    list-style: none;
}
.padding{
   padding: 15px;
}
.margin-right10px{
    margin-right: 10px;
}
.margin-right20px{
    margin-right: 20px;
}
.d-flex{
    display: flex;
}
.j-flex{
    justify-content: space-between;
    align-items: center;
}
.j-flex-start{
    justify-content: flex-start;
    align-items: center;
}
.parent {
	display: grid;
	grid-template-columns:  1fr;
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 10px;
}
.main-container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.container-header{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 250px;
    height: 80px;
}
.section-1{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    margin-left: 300px;
    margin-top: -110px;
    height: 600px;
}
.section-2{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 300px;
    /* margin-top: 70px; */
    height: 500px;

}
.nav{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: 70px;
   
    margin-left: 300px;
    margin-top: -30px;
}

.last-info{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    margin-left: 300px;
    height: 40px;
    margin-bottom: 10px;
    
}


.container-sidebar{
    max-width: 319px;
    width: 100px;
    margin: 0 auto;
}
.container-footer{
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    margin-left: 300px;
    margin-top: 60px;
    height: 400px;
    margin-bottom: 40px;
}

/* sidebar */

.sidebar {
    height: 860px;
    width: 240px;
    position: absolute;
    
    
    background-color: #222222 ;
    
    padding-top: 16px;
  }
.container-sidebar2{


    max-width: 190px;
    width: 100%;
    margin: 0 auto;
}

.logo{
      width: 120px;
  }
.sidebar-button{
    margin-top: 50px;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #FF2288;
    align-items: center;
    padding-left: 10px;
    color: white;
    cursor: pointer;
}
.explore {
    color: white;
    align-items: center;
   
}
.folders{
    color: white;
    align-items: center;
}
.favourites{
    color: white;
    align-items: center;
}
.activies{
    color: white;
    align-items: center;
}
.following{
    align-items: center;
    color: white;
    margin-top: 40px;
    font-size: 14px;
    /* margin-left: 20px; */
}
.sajon-mini{
    align-items: center;
    color: white;
}
.tran-mau{
    align-items: center;
    color: white;
    /* margin-left: 11px; */
}
.ghai-pradita{
    align-items: center;
    color: white;
    margin-top: 15px;
    /* margin-left: 10px; */
}
.david-kovalev{
    align-items: center;
    color: white;
    margin-top: 5px;
    /* margin-left: -8px; */
}
.ryan-putnam{
    align-items: center;
    color: white;
   
}
.load-more-sidebar{
    align-items: center;
    color: white;
}

  section{
      background-color: green;
  }
  .section-2{
      background-color: yellow;
  }
  footer{
      background-color: brown;
  }

  /* header */
  .header-div{
    justify-content: space-between;
    align-items: center;

}
.header-span{
    font-size: 16px;
    color:#FF2288;
    font-family: 'AvenirBook';
}
.margin{
    margin-right: 20px;
}
.div-margin{
    margin-left: 15px;
}
  .container .input{
	border: 0;
	outline: none;
	background-color: #F8F8F8;
    border-radius:  12px 12px 12px 12px;
}
.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
    position: relative;
    width: 346px;
    height: 46px;
    /* margin-left: -290px; */
    margin-top :-20px;
   

}
.after::after{
    content: '';
    position: absolute;
    background-color: red;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
.header-button{
    width: 129px;
    height: 56px;
    border-radius: 12px;
    background-color: #FF2288;
    border: none;
    font-family: 'AvenirBook';
    font-size: 16px;
    cursor: pointer;
}



.search_image{
    padding: 20%;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 12px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	/* background: #7690da; */
	z-index: 1;
	cursor: pointer;
}



.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); */
	color: #fff;
	font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
	right: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input
{
	padding-right: 80px;
}
/* nav */
.nav-ul{
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-right: 250px;
    font-family: 'AvenirBook';
    flex-wrap: wrap;
}
li{
    margin-left: 40px;
}
.filter{
    width: 100px;
    height: 60px;
    border: 1px;
    border-radius: 12px;
    background-color: #D8D8D8;
    padding: 15px;
    font-family: 'AvenirBook';
}
.filter-photo{
    width: 24px;
    height: 24px;
}
/* last info  */
.last.infro{
    padding: 20px;
}
.padding10px{
    padding: 10px;
}
/* .info-img{
    
    width: 24px;
    height: 24px;
} */
.insta-img{
    margin-left: 15px;
    margin-right: 15px;
}
.info-span1{
    color: gray;
    font-family: 'AvenirBook';
}
.info-span2{
    color:black;
    font-family: 'AvenirBook';
}